<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="{{CLIENT_ID}}">
  <link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm">
  <link rel= "stylesheet" type= "text/css"
  href= "{{ url_for('static',filename='css/styles.css') }}">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body align='center'>
  <header>
      <h1>Strife Inc.</h1>
  </header>
  <hr />
  <main>
    <a href="{{url_for('org_stats')}}">Organizations</a>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    <h2>{{name}}</h2>
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
          var id_token = googleUser.getAuthResponse().id_token;
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/tokensignin');
          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          xhr.onload = function() {
              console.log('Signed in as: ' + xhr.responseText);
              };
          xhr.send('idtoken=' + id_token);
          }
    </script>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/tokensignout')
        xhr.setRequestHeader('Content-type', 'text/html')
        xhr.send()
      }
    </script>
      <article>
        Welcome to the Strife Inc. website! This is the official site of
        unofficial Rainbow Six: Siege team, "Strife Inc.".
      </article>
  </main>
</body>
</html>
